.venta{
    flex: 4;
    top: 50px;
}

.ventaEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.ventaDelete{
    color: red;
    cursor: pointer;
}